exportPattern("^[[:alpha:]]+")
import(dplyr)
import(sp)
import(sf)
import(geodist)
import(pracma)
import(corpcor)
import(foreach)
import(parallel)
import(doParallel)
import(methods)
importFrom("stats", "cov.wt", "cov2cor", "pt")